<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Кандидаты</title>
</head>
<body>
    <h1>Все кандидаты</h1>
    <p><a href="/candidate/1">Adela Hendricks</a></p>
    <p><a href="/candidate/2">Sheri Torres</a></p>
    <p><a href="/candidate/3">Burt Stein</a></p>
    <p><a href="/candidate/4">Bauer Adkins</a></p>
    <p><a href="/candidate/5">Day Holloway</a></p>
    <p><a href="/candidate/6">Austin Cochran</a></p>
    <p><a href="/candidate/7">Sheree Love</a></p>
</body>
</html>